extends layout

block content
  h1 Home

  form(action="#") 
    div
      label(for="Vendor") Vendor
      button(onclick='vendorPage()') Add new vendor
      br
      select(name="Vendor")
        each vendor in vendors
          option #{vendor.vendor_name}
    div
      label(for="Invoice Number") Invoice Number
      br
      input(type="text", name="Invoice Number")
    div
      label(for="Invoice Date") Invoice Date
      br
      input(type="date", name="Invoice Date")
    div
      label(for="Bill Due Date") Bill Due Date
      br
      input(type="date", name="Bill Due Date")
    div
      label(for="Description") Description (optional)
      br
      textarea(name="Description")