extends layout

block content
  h1 Home
  button(onclick='billPage()') Add new bill

  h2 Accounts Payable
  ul
    li Current Balance: #{accountsPayableAccount.current_balance} #{accountsPayableAccount.currency_code}
  
  h2 All Accounts
  ul
  each account in accounts
    li #{account.name}

  h2 Vendors
  ul
  each vendor in vendors
    li #{vendor.vendor_name}

  script.
    function billPage() {
      window.location.href = '/add_bill'
    }