doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    button(onclick='goHome()') Go Home
    block content

  script.
    function goHome() {
      window.location.href = '/'
    }
